.container__ttt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #171717;
}

.ttt__game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem 0 3rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  color: white;
}

.ttt__turn {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 5rem;
  color: white;
}

.ttt__turn .turn__o {
  color: rgba(255, 255, 255, 0.3);
}

.ttt__game > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
  border: 1px solid white;
  user-select: none;
}

.ttt__game .game__bottom-right {
  border-right: none;
  border-bottom: none;
}

.ttt__game .game__bottom-middle {
  border-bottom: none;
}

.ttt__game .game__bottom-left {
  border-left: none;
  border-bottom: none;
}

.ttt__game .game__middle-right {
  border-right: none;
}

.ttt__game .game__middle-left {
  border-left: none;
}

.ttt__game .game__top-right {
  border-right: none;
  border-top: none;
}

.ttt__game .game__top-middle {
  border-top: none;
}

.ttt__game .game__top-left {
  border-left: none;
  border-top: none;
}

.reset__button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.reset__button:hover,
.reset__button:focus {
  background: #0053ba;
}

.reset__button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.reset__button:active {
  transform: scale(0.99);
}